<!doctype html>
<html ng-app='NarrowItDownApp' lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as menu'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button ng-click="menu.menusearch($searchTerm) class="btn btn-primary">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component @@@ATODEYARU-->
    //<found-items
<ul>
  <li ng-repeat="item in menu.items">
    {{ item.sohrt_name }} of {{ item.description }}
    <button ng-click="menu.dontwantthis($index);">Bad Remove Item</button>
  </li>
</ul>
       name
       short_name
       description
       on-remove="XXXX(index)">
    //</found-items>
  </div>

</body>
</html>
