<!DOCTYPE html>
<html ng-app='NarrowItDownApp' lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div class="container" ng-controller='MenuCategoriesController as menu'>
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
	<input type="text" ng-model="searchTerm" placeholder="search term" class="form-coxntrol">
      </div>
      <div class="form-group">
	<button ng-click="menu.menuItems(searchTerm);" class="btn btn-primary">Narrow It Down For Me!</button>
      </div>

      <menu-list
	 found="menu.found"
	 dont-want-this="menu.dontWantThis(index)"></menu-list>

      <div ng-if="menu.found.length===0">Nothing found</div>
      
    </div>
  </body>
</html>
